name: CI

on:
  push:
    branches: ['ci/**', 'main']
  pull_request:
    branches: ['main']

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: '18'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            common/temp/pnpm-local
            common/temp/pnpm-store
            common/temp/install-run
          key: ${{ runner.os }}-rush-store-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-rush-store-main
            ${{ runner.os }}-rush-store

      - name: Install Dependencies
        run: node common/scripts/install-run-rush.js install

      - name: Build All
        run: node common/scripts/install-run-rush.js rebuild --verbose --timeline

      - name: Test:cov All
        run: node common/scripts/install-run-rush.js test:cov --verbose --timeline

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: coze-dev/cozeloop-js
          fail_ci_if_error: false
          verbose: true
